/*Geral*/

*{
  margin:0;
  padding:0;
}

body{
background-color: #e7ccb097 ;
}

/*Grupos*/

section {
  margin:auto;
}

/*Texto*/

h1{
  background-color: #bb6f1e;
  margin: 0 auto;
  margin-bottom: 6px;
  padding: 15px 0;
  font-family:'calistoga';
  font-size: 32px;
  text-align: center;

}

header p {
  font-size: 16px;
  font-family:'Cambria' serif;
  color: rgb(118,113,113);
  text-align:center;
  padding-bottom: 20px;
  margin: 0 auto;
}



section h2 {
  font-family:'calistoga', serif;
  font-size:x-large;
  padding: 10px;
  margin: 0 auto;
  
  padding-bottom:15px;

}

section p{
  font-family:'Cambria';
  font-size:large;
  margin: 0 auto;
  padding-bottom:15px;
  
}

section {
  max-width:470px;
  padding-bottom: 10px;
}